html {
  margin: -50px;
  zoom:80%;
}

body {
  background-image: url(ship-background.gif);
  background-size: cover;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

#flavor-town {
  color: aquamarine;
}

#game-controls {
  display: flex;
  justify-content: space-between;
  margin:0 0 10px 0;
}

#container {
  max-width: 400px;
  width:100%;
  min-width: 880px;
  margin: 0 auto;
}

#player1-set,
#player2-set {
padding:10px;
  visibility: hidden;
  background:none;
  border:1px solid black;
}

.select-mode {
  display: flex;
  margin: 10px auto;
  background:none;
  border:1px solid black;
  padding: 10px;
  visibility: visible;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  width: 400px;
}

.shipyard {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 5px;
  padding: 15px;
}

.battleship {
  width: 75%;
  background-image: url(cruiser.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.destroyer {
  width: 65%;
  background-image: url(carrier.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.submarine {
  width: 50%;
  background-image: url(submarine.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.tugboat {
  width: 30%;
  background-image: url(floater.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#go-agane {
  visibility: hidden;
}

#game-board-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: space-between;
  visibility: hidden;
}

#shipyard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  visibility: hidden;
  background-color: black;
  border-radius: 5px;
}

.battleship,
.destroyer,
.submarine,
.tugboat {
  height: 40px;
  margin: 5px auto;
}

.cell {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.cell:hover {
  background-color: darkgrey;
}

.hovered-tile {
  background-color: green;
}

.hidden {
  visibility: hidden;
}

#game-select-modal{
  position: fixed;
  display: flex;
  flex-direction:column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  justify-content:center;
  align-items: center;
  background-color: aliceblue;
  z-index: 100;
}

#play-again-modal{
    position: fixed;
    display: none;
    flex-direction:column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    justify-content:center;
    align-items: center;
    background-color: aliceblue;
    z-index: 100;
}